

/* Default Tags */

/* Headers */
header{
  padding: 10px;
  width: 100%;
  background-color: black;
  color: white;
  height: 70px; 
}

/* Nav content */
nav{
  background-color: #242424;
  color: #FFF;
}

/* Body Content */


/* Footer Content */
footer{
  padding: 10px;
  width: 100%;
  background-color: black;
  color: white;
}

/* User Classes */
.slide-images{
  width: 100%;
}

.next, .prev{
  position: absolute;
  top: 40px;
}

/* User Ids */
